<footer class="cs-footer pt-4 bg-dark text-light">
  <div class="container py-3">
    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between">
      <div class="mb-3 mb-md-0">
        <div class="h6 mb-1 text-uppercase">Contáctanos</div>
        <div class="small">
          <span class="mr-2">Tel:</span>
          <a href="tel:4055550128" class="text-light">(405) 555-0128</a>
          <span class="mx-2">|</span>
          <span class="mr-2">Email:</span>
          <a href="mailto:support@example.com" class="text-light">support@example.com</a>
        </div>
      </div>
      <div>
        <a href="#" class="social-btn sb-solid sb-light mr-2"><i class="cxi-facebook"></i></a>
        <a href="#" class="social-btn sb-solid sb-light mr-2"><i class="cxi-instagram"></i></a>
        <a href="#" class="social-btn sb-solid sb-light mr-2"><i class="cxi-twitter"></i></a>
        <a href="#" class="social-btn sb-solid sb-light"><i class="cxi-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="border-top border-light">
    <div class="container py-3">
      <div class="font-size-xs">
        &copy; Davivienda Fan Shop. Todos los derechos reservados.
      </div>
    </div>
  </div>
</footer>
